@model HttpRequestAppMVC.Application.ViewModels.NewRequestVm

@{
    ViewData["Title"] = "Send Request";
}

<h2>Send HTTp Request</h2>
<form asp-action="SendRequest" method="post" id="requestForm">
    <div class="form-group">
        <label asp-for="Url" class="control-label"></label>
        <input asp-for="Url" class="form-control" />
        <span asp-validation-for="Url" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Method" class="control-label"></label>
        <select asp-for="Method" class="form-control">
            <option value="">Select Method</option>
            <option value="GET">GET</option>
            <option value="POST">POST</option>
            <option value="PUT">PUT</option>
            <option value="DELETE">DELETE</option>
        </select>
        <span asp-validation-for="Method" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Body" class="control-label"></label>
        <textarea asp-for="Body" class="form-control"></textarea>
        <span asp-validation-for="Body" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary mt-2">Send Request</button>
    <div id="spinner" class="mt-3" style="display:none">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        Sending request, please wait...
    </div>
</form>

@if (Model.ResponseStatusCode != 0)
{
    <hr/>
    <h3>Response</h3>

    <div class="form-group">
        <label>Status Code:</label>
        <input class="form-control" value="@Model.ResponseStatusCode" readonly />
    </div>

    <div class="form-group">
        <label>Response Body:</label>
        <textarea class="form-control" rows="10" readonly>@Model.ResponseBody</textarea>
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        const form = document.getElementById('requestForm');
        const spinner = document.getElementById('spinner');
        const submitButton = document.getElementById('submitButton');

        form.addEventListener('submit', function (event) {
            spinner.style.display = 'block';
            submitButton.disabled = true;
        });
    </script>
}